<div class="toc">
<ul>
<li><a href="#tam-ly-hoc-nganh-bot-mi">Tâm lý học ngành bột mì</a><ul>
<li><a href="#nguoi-buon-anh-vao-su-phu-thuoc">Người buôn đánh vào sự phụ thuộc</a></li>
<li><a href="#tiep-can-bang-truyen-mieng">Tiếp cận bằng truyền miệng</a></li>
<li><a href="#vong-lap-tam-ly-cua-nguoi-su-dung-bot-mi">Vòng lặp tâm lý của người sử dụng bột mì</a></li>
<li><a href="#vay-giai-phap-la-gi">Vậy giải pháp là gì?</a><ul>
<li><a href="#xac-inh-nhung-luc-ban-than-hoac-nguoi-than-co-kha-nang-tim-en-bot-mi-nhat">Xác định những lúc bản thân hoặc người thân có khả năng tìm đến bột mì nhất</a></li>
<li><a href="#tim-kiem-dopamine-khac">Tìm kiếm dopamine khác</a></li>
<li><a href="#giao-tiep-xa-hoi-nhieu-hon">Giao tiếp xã hội nhiều hơn</a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#ket">Kết</a></li>
</ul>
</div>
